body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

#map {
  height: 75vh;
  width: 100%;
}

button, select {
  padding: 6px 10px;
  margin: 5px;
  font-size: 14px;
}

.panel {
  margin-top: 10px;
}

#analizPanel {
  margin: 10px auto;
  font-size: 14px;
}
